@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

html, body {
    height: 100%; width: 100%; overflow: hidden;
}

body {
    font-family: "Roboto Regular", sans-serif !important;
    background-image: url("../ui/wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
    -webkit-user-select: none
}

.card {
    overflow: hidden;
    padding: 40px;
    background-color: #ffffff;
    margin: 125px auto 25px;
    border-radius: 3px;
    width: 274px;
    max-width: 90%;
}

@media all and (max-width: 800px) {
    .settings-card {
        width: 70%;
        max-width: 90%;
    }
}

.profile-img {
    width: 96px;
    margin: 0 auto 40px;
    display: block;
    border-radius: 100%;
}

.action {
    cursor: pointer;
    float: left;
    margin-right: 15px;
}
