@font-face {
    font-family: "Arimo Bold";
    src: url(../font/Arimo-Bold.ttf);
}
@font-face {
    font-family: "Arimo Regular";
    src: url(../font/Arimo-Regular.ttf);
}

html, body {
    height: 100%; width: 100%; overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arimo Regular, Arial, sans-serif;
    font-size: 13px;
    background: #fff;
    background-image: url(../ui/wallpaper.jpg);
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    border: 0;
    color: #404040;
    -webkit-user-select: none
}
.wrapper {
    position: relative;
    min-height: 100%;
}
.card {
    overflow: hidden;
    padding: 40px;
    background-color: #f7f7f7;
    background-color: rgba(240,240,240,.8);
    margin: 125px auto 25px;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
}
.signin-card {
    width: 274px;
    max-width: 90%;
}
.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 40px;
    display: block;
    border-radius: 100%;
    background-image: url(../ui/avatar_2x.png);
    background-size: cover;
    background-position: 50%;
    background-color: transparent;
    border: 1px solid #c0c0c0;
    outline: none;
}
.card label {
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
}
.card label span {
    display: block;
    margin-bottom: 1em;
}
.card input[type=text],
.card input[type=password],
.card select {
    -webkit-appearance: none;
    height: 44px;
    font-size: 16px;
    width: 100%;
    display: block;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    padding: 0 8px;
    margin: 0 0 10px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    border-radius: 1px;
    color: #404040;
    outline: none;
}
.card select {
    background-image: url(../ui/grey-disclosure-arrow-up-down.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
}
.card form {
    margin: 0;
    padding: 0;
}
.card form .error {
    border: 1px solid #dd4b39;
    z-index: 2;
}
.card input[type=text]:hover,
.card input[type=password]:hover,
.card select:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    z-index: 3;
}
.card input[type=text]:active,
.card input[type=text]:focus,
.card input[type=password]:active,
.card input[type=password]:focus,
.card select:active,
.card select:focus {
    border: 1px solid #4d90fe;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
    z-index: 3;
}
#user {
    margin-bottom: 0;
}
#pass {
    margin-top: -1px;
}
.btn {
    outline: 0;
    width: 100%;
    display: block;
    z-index: 1;
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: inherit;
    min-width: 46px;
    text-align: center;
    font-weight: 700;
    height: 36px;
    line-height: 36px;
    border-radius: 3px;
    transition: border 0.218s, background 0.218s, box-shadow 0.218s, color 0.218s;
    text-shadow: 0 1px 0 #fff;
    color: #444;
    background: #F3F3F3;
    border: solid 1px #D9D9D9;
}
.btn:hover {
    transition: all 0s;
    text-decoration: none;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background: #F4F4F4;
    border-color: #C0C0C0;
    color: #333;
}
.btn:active {
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
    border-color: #C6C6C6;
}
.btn-primary {
    border: 1px solid #3079ed;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,.1);
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    background-image: linear-gradient(top, #4d90fe, #4787ed);
}
.btn-primary:hover {
    border: 1px solid #2f5bb7;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,.3);
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
    background-image: linear-gradient(top, #4d90fe, #357ae8);
}
.btn-primary:active {
    border-color: #2f5bb7;
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
    background-image: linear-gradient(top, #4d90fe, #357ae8);
}
.buttons-wrap {
    float: right;
}
.buttons-wrap .btn {
    width: auto;
    display: inline-block;
    padding: 0 20px;
}
.actions-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 44px;
    background: rgba(0,0,0,.4);
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0,0,0,.4);
    line-height: 44px;
    font-size: 13px;
    padding: 0 14px;
    box-shadow: 0 -1px 0 rgba(255,255,255,.1);
    box-sizing: border-box;
}
.action {
    cursor: pointer;
    float: left;
    margin-right: 20px;
}
.action-clock {
    cursor: default;
    float: right;
    margin-right: 0;
}
.action i {
    display: inline-block;
    float: left;
    margin-right: 5px;
    height: 14px;
    width: 14px;
    margin-top: 14px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.action-shutdown i {
    background-image: url(../ui/action-shutdown.png);
}
.action-reboot i {
    background-image: url(../ui/action-reboot.png);
}
